*	Abstracted
>	Implemented

Structural Commands
	Tables
		* Create
		Update
			* Columns
				* Add
				* Delete
			Indexes
				Create
					Standard
					Search
						[On supported, set to searchable]
						[On unsupported, do not index]
				Delete
			Engine
				(Auto-determine|Manual)
		Get
			Columns
			Indexes/Primary Key/Unique
			Content Details
				Row count
				Size
				Overhead
		Delete
Virtualization
	Database
	Tables
		Virtual tables that includes multiple tables
			Column binding/merging
			Select
				Ignore/Include unbound/unmerged columns
			Update
				
		Memory-based buffer tables
			No persistant storage
			Should be available to data tools (merge, copy, etc.)
		Duplication
			
SELECT
	Variables
		*
		[List]
		Like
		Search
		Operators
			Count
			Count(Distinct)
			Max
			Abs
			AES
				Encrypt
				Decrypt
			ASCII
			Ceil/Ceiling
			Concat
			Char
			CRC32
			DES
				Encrypt
				Decrypt
			Encode
				Encode
				Decode
			Encrypt
				Encrypt
				Decrypt
			Floor
			Hex
			Length
			Lower
			MD5
			Rand
			Rand(n)
			Round
			SHA1
			Sign
			Sqrt
			Truncate
			Upper
			UUID
	"Where"
		Conditional Operators
			==
			!=
			>
			<
			>=
			<=
			LIKE
			NOT LIKE
			IS NULL
			IS NOT NULL
		Combinations
			Parenthesis/Grouping
			And
			Or
	Sorting
		List of variables
			Real
			Virtual
		Order
			Ascending
			Descending
	Limiting
		Number of results
		Offset
			[May be a request parameter rather than a statement]