
a {color:#003d71;}
a:hover {text-decoration:none;}

body {padding-bottom:40px;}

header {
	margin:35px 0;
}
header strong {
	display:block;
	float:left;
}
header strong a {
	display:block;
	height:60px;
	width:240px;
	background:url(/images/logo.png) no-repeat top left;
	text-indent:-10000px;
}
header strong a:hover {background-position:0 -60px;}
header section.user {
	background:url(/images/logo.png) no-repeat top right;
	font-size:1.2em;
	line-height:1.1em;
	width:240px;
	height:60px;
	float:right;
}
header section.user div {
	padding:13px 10px;
}

nav {
	background:url(/images/navsprite.png) no-repeat bottom left;
	padding-bottom:5px;
}
nav ul {
	background:url(/images/navsprite.png) no-repeat top left;
	list-style:none;
	padding-top:5px;
	padding-left:10px;
	margin:0;
	position:relative;
	height:1%;
}
nav:hover {background-position:bottom right;}
nav:hover ul {background-position:top right;}
nav ul li {line-height:1.3em;}
nav ul li a {
	color:#000;
	border:1px solid #f5f5f5;
	border-left:0;
	border-right:0;
	font-size:17px;
	text-decoration:none;
	padding:6px 0 6px 26px;
	margin:0 1px 0 2px;
	display:block;
}
nav ul li a:hover {
	text-decoration:underline;
	background:#eee;
	border-color:#ddd;
	padding:6px 0 6px 28px;
	margin-left:0;
}
nav ul li a:active {background:#eaeaea;}
nav ul li.selected a {
	background:url(/images/logo.png) no-repeat -240px -60px;
	padding:11px 0 11px 28px;
	border:0;
	margin:0 -10px 0 0;
	width:195px;
}


section.dialog {
	border:1px solid #000;
	border-radius:4px;
	-moz-border-radius:4px;
	padding-bottom:15px;
}
section.dialog header {
	background:#eee;
	border-top:7px solid #666;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
	height:50px;
}
section.dialog header h1 {
	font-size:24px;
	font-weight:normal;
	line-height:50px;
	padding-left:20px;
	float:left;
}
section.dialog header .alt-header {
	display:block;
	float:right;
	text-align:right;
	line-height:50px;
	padding-right:10px;
}

section.dialog form {
	text-align:center;
}
section.dialog label {
	font-size:18px;
	margin-left:-50px;
	display:inline-block;
	width:120px;
	text-align:right;
}
section.dialog input {
	margin:0;
	border:0;
	font-size:18px;
	padding:7px;
	border:3px solid #aaa;
	border-radius:3px;
	-moz-border-radius:3px;
}
section.dialog input:focus {background-position:0 -120px}
section.dialog a {font-size:14px;}
section.dialog .button {
	background:url(/images/buttonsprite.png) no-repeat top left;
	padding:10px 0 13px 10px;
	font-size:18px;
	line-height:1em;
	color:#fff;
	margin:0 10px -3px;
}
section.dialog .button span {
	background:url(/images/buttonsprite.png) no-repeat top right;
	padding:10px 25px 13px 15px;
}
section.dialog .button:hover {background:url(/images/buttonsprite.png) no-repeat left -44px;}
section.dialog .button:hover span {background:url(/images/buttonsprite.png) no-repeat right -44px;}
section.dialog .button:active {background:url(/images/buttonsprite.png) no-repeat left -88px;}
section.dialog .button:active span {background:url(/images/buttonsprite.png) no-repeat right -88px;}

section.dialog footer {
	background:url(/images/dialogmain.png) no-repeat bottom left;
	margin:0;
	height:40px;
}

hgroup {
	display:block;
	margin:30px 0;
}
.tapeul {
	padding:0;
	margin:0 0 20px;
}
.longtapeli,
.tapeli {
	list-style:none;
	width:50%;
	height:2em;
	float:left;
	color:#fff;
	overflow:hidden;
}
.longtapeli {width:25%;}
.longtapeli a,
.tapeli a {
	color:#fff;
	padding:0 5px;
	font-weight:bold;
	text-decoration:none;
}
.longtapeli a:hover ,
.tapeli a:hover {
	text-decoration:underline;
}

.recent_songs ul {padding:0;}
.recent_songs li {
	list-style:none;
	border-top:1px solid #ccc;
	padding:3px;
	font-size:1.2em;
	line-height:1.4em;
}
.recent_songs li .artist {font-size:0.8em;}

#searchbox {
	font-size:3em;
	padding:40px 30px;
}
#searchbox .wrap {position:relative;padding-bottom:1.25em;}
#searchbox input {width:100%;}
#searchbox input.submit {
	width:auto;
	position:absolute;
	right:-10px;bottom:0;
}

.no_results {
	background:#eee;
	border:1px solid #aaa;
	border-radius:5px;
	-moz-border-radius:5px;
	color:#222;
	padding:1em;
	margin:15px 0;
}
.no_results.scrappy p {margin:0;}
#addthesong {
	background:#215885;
	border:2px solid #317EBD;
	border-radius:7px;
	-moz-border-radius:7px;
	color:#fff;
	display:block;
	font-size:2.25em;
	margin:30px auto;
	width:300px;
	padding:0.3em 0;
	text-align:center;
	text-decoration:none;
}
#addthesong:hover {
	text-decoration:underline;
	background:#317EBD;
}

#searchterm {
	font-size:2em;
	margin-bottom:20px;
}
#searchlist {
	list-style:none;
	padding:0;
	border-bottom:1px solid #ccc;
}
#searchlist li {
	border-top:1px solid #ccc;
	padding:0.5em 0.25em;
	position:relative;
}
#albumart li *,
#searchlist li * {
	position:relative;
	z-index:2;
}
#searchlist li a {
	display:block;
	color:#000;
	text-decoration:none;
}
#searchlist li a:hover span,
#searchlist li strong {
	text-decoration:underline;
}
#searchlist li strong {
	font-size:1.5em;
	font-weight:normal;
}

#searchlist li a.instances {
	display:none;
	z-index:3;
}
#searchlist li.playing a.instances,
#searchlist li:hover a.instances {
	display:block;
	float:right;
	padding:0 10px;
	border-radius:3px;
	-moz-border-radius:3px;
	background:#eee;
	text-decoration:underline;
}
#searchlist li a.instances:hover {
	background:#ddd;
}

#albumart .hardware,
#albumart .playbar,
#searchlist .hardware,
#searchlist .playbar {
	display:none;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:0;
}
#albumart .hardware,
#searchlist .hardware {z-index:0;background:#f2f2f2;}
#albumart .playbar,
#searchlist .playbar {z-index:1;background:#ddd;}
#albumart .playing .hardware,
#albumart .playing .playbar,
#searchlist .playing .hardware,
#searchlist .playing .playbar {display:block;}

#searchlist ul.types {
	display:block;
	border:0;
	margin:0;
	padding:0;
}
#searchlist ul.types li {
	border:0;
	display:inline;
	line-height:1em;
	list-style:none;
	padding:3px 8px;
	font-weight:bold;
	border-radius:4px;
	-moz-border-radius:4px;
	color:#fff;
	margin-right:8px;
}
#searchlist ul.types li.live {background:#007;}
#searchlist ul.types li.remix {background:#900;}
#searchlist ul.types li.acoustic {background:#fc0;}
#searchlist ul.types li.clean {background:#cac5ff;}

#searchlist li .embedcontrols {
	position:absolute;
	bottom:0;
	right:0;
}
#searchlist li .embedcontrols a {
	display:inline;
	color:#aaa;
	padding-left:10px;
}
#searchlist li:hover .embedcontrols a {
	color:#666;
}
#searchlist li .embedcontrols a:hover {
	text-decoration:underline;
}


.saying {
	text-align:center;
	font-weight:bold;
	padding:20px 40px;
	font-size:2.5em;
}


footer {margin-top:35px;}
#sidecar {position:relative;}
#sc_thanks {
	border:1px solid #aaa;
	background:#eee;
	border-radius:10px;
	-moz-border-radius:10px;
	padding:50px 0;
	text-align:center;
	font-size:1.5em;
}

.addsong .albumslot {
	text-align:center;
}
.addsong .albumslot label {
	font-size:1.75em;
}
.addsong #addbuttons {text-align:center;}
.addsong #addbuttons input {
	font-size:2em;
}
.addsong section {padding:10px 0 30px;}
form.addsong section {text-align:center;}
form.addsong section label {
	font-size:1.6em;
	margin:10px 0;
}
form.addsong section input {display:inline;}

h1#title,
h2#artist,
h2#album {text-transform:uppercase;}
h1#title {font-size:2.25em;}
h2#artist {font-weight:normal;}
h2#artist,
h2#album {font-size:1.5em}

.centerblock h1 {
	text-align:center;
	font-size:1.5em;
	text-transform:lowercase;
	padding:1em 0;
}

#songblock {
	width:350px;
	text-align:left;
	font-size:1.3em;
	padding:5px;
	margin:3px;
	box-shadow:0 0 3px #ccc;
	-moz-box-shadow:0 0 3px #ccc;
	-webkit-box-shadow:0 0 3px #ccc;
}
#songblock strong {font-size:1.4em;}
#songblock span {text-transform:uppercase;}

.tapelist,
.tapelist li {
	border-radius:3px;
	-moz-border-radius:3px;
}
.tapelist {
	margin:10px 0;
	padding:0;
	overflow:auto;
	height:300px;
}
.tapelist li {
	margin-bottom:3px;
	list-style:none;
	padding:0;
}
.tapelist li a {
	color:#fff;
	font-weight:bold;
}

/**
 * Farbtastic Color Picker 1.2
 * © 2008 Steven Wittens
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(/scripts/farbtastic/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(/scripts/farbtastic/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(/scripts/farbtastic/marker.png) no-repeat;
}
.colorselector label {
	margin-top:30px;
	margin-bottom:-25px;
	float:left;
	text-align:right;
	width:170px !important;
}
#color {
	margin:0 auto;
}
#picker {
	margin:0 auto 30px;
	width:200px;
}

/***************************************
jquery.autocomplete.css
***************************************/

.ac_results {
	padding: 0px;
	border: 1px solid #999;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	text-align:left;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

/*************************************************/

#albumart ul {
	list-style:none;
	padding:0;
	margin:0;
}

#albumart li {
    position:relative;
    box-shadow:0 0 3px #aaa;
    -moz-box-shadow:0 0 3px #aaa;
    -webkit-box-shadow:0 0 3px #aaa;
}
#albumart .big li {
	height:140px;
}

#albumart .small li {
	height:70px;
	width:70px;
	float:left;
	font-size:0.65em;
}
#albumart .gfirst.small li {float:right;}
#albumart li img {
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

#albumart .hasart a {
	opacity:0;
	display:block;
	padding:5px 5px 0;
	color:#fff;
	font-size:1.5em;
	text-decoration:none;
	text-shadow:0 0 3px #000;
}
#albumart .hasart .hardware,
#albumart .hasart .embedcontrols {display:none;}
#albumart .hasart:hover a,
#albumart .hasart.playing a {opacity:1;}
#albumart .hasart .playbar {
	background:#fff;
	opacity:0.5;
}

#albumart .big img {
	height:140px;
	width:140px;
}
#albumart .small img {
	height:70px;
	width:70px;
}

#searchlist li a.removeDelete {
	position:absolute;
	top:50%;
	margin-top:-8px;
	left:-16px;
	height:16px;
	width:16px;
	background:url(/images/delete.png) no-repeat center center;
	display:block;
}